<div class="row">
    <div class="col-md-3">
        <form [formGroup]="userForm">
            <div class="form-group">
                <label><strong>Email</strong></label>
                <input class="form-control" formControlName="email">
            </div>
            <button class="btn btn-primary" (click)="connectUser()">Connection</button>
        </form>
    </div>
    <div class="col-md-6" style="border-left:solid 1px rgba(31,31,31,0.2);">
        <form>
            <div class="form-group">
                <label>
                    <strong>Fenêtre de discussion</strong>
                </label>
                <ul class="list-group" *ngIf="currentChatWindow && currentChatWindow.messages" style="height:500px;">
                    <li class="list-group-item" *ngFor="let message of currentChatWindow.messages">
                        <strong> - {{message.author}} : </strong>
                        <blockquote>{{message.content}}</blockquote>
                    </li>
                </ul>
                <form [formGroup]="boxMessageForm">
                    <div class="form-group">
                        <label><strong>MESSAGE:</strong></label>
                        <textarea class="form-control" rows="5" formControlName="message" placeholder="Message ..."></textarea>
                    </div>
                    <button class="btn btn-info" (click)="sendMessage()">Envoyer</button>
                </form>
            </div>
        </form>
    </div>
    <div class="col-md-3" *ngIf="users" style="border-left:solid 1px rgba(31,31,31,0.2);">
        <label><strong>Utilisateurs connectés ({{users.length}})</strong></label>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let user of users">
                <button type="button" class="btn btn-primary">
                    {{user.nickname}}
                    <span class="badge badge-success">Offline</span>
                </button>
            </li>
        </ul>
    </div>
</div>